
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# On ignore le dossier des posters
# Les images dans ce dossier correspondent à des films en BDD
# En prod on a des vrais films avec des images
# En dev on a des fixtures et on charge des fausses images dans le formulaire
# On ne veut pas mélanger les deux
/public/posters
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
